.c{
    color:#191616;
}
h1{
    background-color: white;

}

#myNavbar li{
    padding: 5px;
}

#myNavbar li img{
	height: 30px;
    width: 30px;
    border-radius: 2px;
}
.li{
	font-size : 15px;
	border-color : white;
	max-width : 550px;
	font-family : Lucida Calligraphy;
	text-align : left;
	margin-left : 50px;
}
body{
    background-image: url("hi.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

